<div class="modal-header" draggable-modal>
    <button type="button" class="close" data-dimdiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
</div>

<div class="modal-body">
    <div ar-validation-errors></div>

    <!-- FORM -->
    <form name="form">
        <h4>Период согласования</h4>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-5'" field="fields[0]"></div>
            <div style="margin-top: 30px;" class="col-sm-2 text-center">&mdash;</div>
            <div ar-form-field col-class="'col-sm-5'" field="fields[1]"></div>
        </div>
    </form>
    <!-- END FORM -->

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
</div>