<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.askp.AskpByMoveReportMapper">

	<select id="getGridViews" resultType="ru.armd.pbk.views.nsi.askp.AskpTicketChecksByHourView" parameterType="ru.armd.pbk.core.views.BaseGridViewParams">
       
        <![CDATA[
                SELECT DISTINCT
                    rh.HEAD_ID as routeId
                    , CASE rtk.[COD] WHEN '1' THEN 'А-' WHEN '2' THEN 'Тб-' WHEN '3' THEN 'Тр-' WHEN '4' THEN 'СТр-' END + rh.ROUTE_NUMBER as routeNumber
                    , t.[MOVE_CODE] as moveCode
                FROM (
                    SELECT DISTINCT
                        t.[ASKP_ROUTE_CODE]
                        , t.[MOVE_CODE]
                        , t.WORK_DATE
                    FROM [PBK_VIS].[ASKP_TICKET_CHECKS_BY_HOUR] t                         
                    WHERE (#{filter.dateFrom, jdbcType=DATE} IS NULL OR #{filter.dateFrom, jdbcType=DATE} <= t.WORK_DATE)
                        AND (#{filter.dateTo, jdbcType=DATE} IS NULL OR #{filter.dateTo, jdbcType=DATE} >= t.WORK_DATE)
        ]]><if test="filter.routes != null"><![CDATA[
                        AND t.[ROUTE_ID] IN (${filter.routes})
        ]]></if>       
        <![CDATA[        			
                    ) t
                JOIN PBK_NSI.ROUTE_HISTS rh ON (t.[ASKP_ROUTE_CODE] = rh.[ASKP_ROUTE_CODE] AND rh.V_END_DATE >= PBK_CORE.getVersionEndDate())
                JOIN PBK_NSI.ROUTE_TS_KINDS rtk on (rh.[ROUTE_TS_KIND_ID] = rtk.ID)                     
        ]]>
        <if test="filter.tsType != null"><![CDATA[
                    AND rtk.ID IN (${filter.tsType})
        ]]></if>
         <if test="filter.isWorkDate != null"><![CDATA[        			
                    AND t.WORK_DATE in (
                    		SELECT [WORK_DATE]      
						  	FROM [PBK_NSI].[WORK_DAYS]
						  	WHERE (#{filter.isWorkDate} = 1 AND WORK_DAY_TYPE_ID = 1) OR
						  		  (#{filter.isWorkDate} = 0 AND WORK_DAY_TYPE_ID in (2, 3))
						  		  AND (#{filter.dateFrom, jdbcType=DATE} IS NULL OR #{filter.dateFrom, jdbcType=DATE} <= WORK_DATE)
                    			  AND (#{filter.dateTo, jdbcType=DATE} IS NULL OR #{filter.dateTo, jdbcType=DATE} >= WORK_DATE) 
                    	)                              
        ]]></if>
    </select>
    
    <select id="getDetailedViews" resultType="ru.armd.pbk.views.nsi.askp.AskpTicketChecksByHourView" parameterType="ru.armd.pbk.core.views.BaseGridViewParams">
        <![CDATA[
            SELECT
                routeNumber
                , moveCode
                , workDate
                , checks
                , routeId
                , routeName               
            FROM (
                SELECT DISTINCT
                    rh.HEAD_ID as routeId
                    , CASE rtk.[COD] WHEN '1' THEN 'А-' WHEN '2' THEN 'Тб-' WHEN '3' THEN 'Тр-' WHEN '4' THEN 'СТр-' END + rh.ROUTE_NUMBER as routeNumber
                    , rh.ROUTE_NUMBER + ' (' + rtk.NAME + ')' as routeName
                    , t.[MOVE_CODE] as moveCode
                    , t.[WORK_DATE] as workDate
                    , t.[CHECKS] as checks
                    , rh.ASDU_ROUTE_ID as asduCod
                FROM (
                    SELECT
                        t.[ASKP_ROUTE_CODE]
                        , t.[MOVE_CODE]
                        , t.[WORK_DATE]
                        , sum(t.[ASKP_CHECKS_COUNT]) as CHECKS                        
                    FROM [PBK_VIS].[ASKP_TICKET_CHECKS_BY_HOUR] t
                    WHERE (#{filter.dateFrom, jdbcType=DATE} IS NULL OR #{filter.dateFrom, jdbcType=DATE} <= t.WORK_DATE)
                        AND (#{filter.dateTo, jdbcType=DATE} IS NULL OR #{filter.dateTo, jdbcType=DATE} >= t.WORK_DATE)
        ]]><if test="filter.routes != null"><![CDATA[
                        AND t.[ROUTE_ID] IN (${filter.routes})
        ]]></if><![CDATA[
                    GROUP BY [ASKP_ROUTE_CODE], [MOVE_CODE], [WORK_DATE]) t
                JOIN PBK_NSI.ROUTE_HISTS rh ON (t.[ASKP_ROUTE_CODE] = rh.[ASKP_ROUTE_CODE] AND rh.V_END_DATE >= PBK_CORE.getVersionEndDate())
                LEFT JOIN PBK_NSI.ROUTE_TS_KINDS rtk on (rh.[ROUTE_TS_KIND_ID] = rtk.ID)
            ) t
            WHERE (${filter.where})
            ]]><if test="filter.isWorkDate != null"><![CDATA[        			
                    AND t.workDate in (
                    		SELECT [WORK_DATE]      
						  	FROM [PBK_NSI].[WORK_DAYS]
						  	WHERE (#{filter.isWorkDate} = 1 AND WORK_DAY_TYPE_ID = 1) OR
						  		  (#{filter.isWorkDate} = 0 AND WORK_DAY_TYPE_ID in (2, 3))
						  		  AND (#{filter.dateFrom, jdbcType=DATE} IS NULL OR #{filter.dateFrom, jdbcType=DATE} <= WORK_DATE)
                    			  AND (#{filter.dateTo, jdbcType=DATE} IS NULL OR #{filter.dateTo, jdbcType=DATE} >= WORK_DATE) 
                    	)                              
        	]]></if><![CDATA[
            ORDER BY routeNumber, moveCode, workDate
        ]]>
    </select>
	 
</mapper>