<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.district.DistrictRouteMapper">

	<sql id="fieldDomain">
        <![CDATA[
		  	,dh.[CREATE_DATE] as createDate
		  	,dh.[CREATE_USER_ID] as createUserId
		  	,dh.[UPDATE_DATE] as updateDate
		  	,dh.[UPDATE_USER_ID] as updateUserId
		  	,dh.[V_START_DATE] as versionStartDate
		  	,dh.[V_END_DATE] as versionEndDate
		  	,dh.[CITY_DISTRICT_ID] as districtId
		  	,dh.[ROUTE_ID] as routeId
        ]]>
     </sql>
     
    <select id="getGridViews" resultType="ru.armd.pbk.views.nsi.district.DistrictRouteView" parameterType="ru.armd.pbk.core.views.BaseGridViewParams" >
        <include refid="ru.armd.pbk.mappers.CommonSql.pageSupportBegin" />
        <![CDATA[
          SELECT
				]]><include refid="ru.armd.pbk.mappers.CommonSql.historyViewValues" /><![CDATA[
				rh.ROUTE_NUMBER +' ('+gmts.NAME+')' as route
		  FROM
				PBK_NSI.CITY_DISTRICT_ROUTES dh 
				INNER JOIN PBK_CORE.USERS cu ON (dh.CREATE_USER_ID = cu.ID) 
				INNER JOIN PBK_CORE.USERS uu ON (dh.UPDATE_USER_ID = uu.ID)
				INNER JOIN PBK_NSI.ROUTES r ON (dh.ROUTE_ID = r.id)
				INNER JOIN PBK_NSI.ROUTE_HISTS rh ON (r.ID = rh.HEAD_ID)
				JOIN PBK_GISMGT.GM_ROUTES gm on (rh.GM_ROUTE_ID = gm.ID)
				JOIN PBK_GISMGT.GM_ROUTE_TS_KINDS gmts on (gm.ROUTE_TS_KIND_MUID = gmts.MUID)
		  WHERE
          		dh.CITY_DISTRICT_ID = #{filter.districtId}   
          		and rh.V_END_DATE >= [PBK_CORE].getVersionEndDate()       		    									
        ]]>
        <include refid="ru.armd.pbk.mappers.CommonSql.pageSupportEnd" />
    </select>
    
    <insert id="insert" parameterType="ru.armd.pbk.domain.nsi.district.DistrictRoute" keyProperty="id" keyColumn="id">
		<![CDATA[
        insert into PBK_NSI.CITY_DISTRICT_ROUTES(
                ]]><include refid="ru.armd.pbk.mappers.CommonSql.tplInsertAuditFields" /><![CDATA[
                ]]><include refid="ru.armd.pbk.mappers.CommonSql.tplInsertVersionFields" /><![CDATA[
        	, [CITY_DISTRICT_ID]
        	, [ROUTE_ID]	      
        ) VALUES (
               ]]><include refid="ru.armd.pbk.mappers.CommonSql.tplInsertAuditValues" /><![CDATA[
               ]]><include refid="ru.armd.pbk.mappers.CommonSql.tplInsertVersionValues" /><![CDATA[
        	, #{districtId}
        	, #{routeId}
        )
        ]]>
		<selectKey order="AFTER" resultType="long" keyProperty="id">
			<![CDATA[
              SELECT IDENT_CURRENT( 'PBK_NSI.CITY_DISTRICT_ROUTES' ) as id
            ]]>
		</selectKey>
	</insert>
    
    <update id="update" parameterType="ru.armd.pbk.domain.nsi.district.DistrictRoute">
    	<![CDATA[
		    UPDATE
		    	PBK_NSI.CITY_DISTRICT_ROUTES
		    SET
		    	CREATE_DATE = #{createDate},
		    	CREATE_USER_ID = #{createUserId},
				UPDATE_DATE = #{updateDate},
		    	UPDATE_USER_ID = #{updateUserId},
		    	V_START_DATE = #{versionStartDate},
		    	V_END_DATE = #{versionEndDate},
				CITY_DISTRICT_ID = #{districtId},
				ROUTE_ID = #{routeId}
		    WHERE
		    	ID = #{id}
	    ]]>
    </update>
    
    <select id="getById" resultType="ru.armd.pbk.domain.nsi.district.DistrictRoute">
		<![CDATA[
			SELECT
               dh.[ID] as id
               ]]><include refid="fieldDomain" /><![CDATA[
			FROM [PBK_NSI].[CITY_DISTRICT_ROUTES] dh
			WHERE 1 = 1
               and dh.[ID] = #{id}
        ]]>
    </select>

	<select id="getActual" resultType="ru.armd.pbk.domain.nsi.district.DistrictRoute">
		<![CDATA[
			SELECT
               dh.[ID] as id
               ]]><include refid="fieldDomain" /><![CDATA[
			FROM [PBK_NSI].[CITY_DISTRICT_ROUTES] dh
			WHERE
				dh.[ID] = #{domainId}
			   	and dh.[V_END_DATE] >= [PBK_CORE].getVersionEndDate()
        ]]>
	</select>
	
	<select id="getDomain" resultType="ru.armd.pbk.domain.nsi.district.DistrictRoute">
		<![CDATA[
			SELECT
               dh.[ID] as id
               ]]><include refid="fieldDomain" /><![CDATA[
			FROM [PBK_NSI].[CITY_DISTRICT_ROUTES] dh
			WHERE
				(#{districtId} is not null and dh.[CITY_DISTRICT_ID] = #{districtId})
				and (#{routeId} is not null and dh.[ROUTE_ID] = #{routeId})
			   	and dh.[V_END_DATE] >= [PBK_CORE].getVersionEndDate()
        ]]>
	</select>
	
	<select id="getDistrictsByRoute" resultType="ru.armd.pbk.core.views.SelectItem">
		<![CDATA[
		SELECT  distinct cdr.[CITY_DISTRICT_ID] as id
				, cdh.NAME as NAME
		FROM [PBK_NSI].[CITY_DISTRICT_ROUTES] cdr
		JOIN [PBK_NSI].[CITY_DISTRICT_HISTS] cdh on (cdh.HEAD_ID = cdr.CITY_DISTRICT_ID and cdh.V_END_DATE >= PBK_CORE.getVersionEndDate())  
		WHERE cdr.ROUTE_ID = #{routeId}
		]]>
	</select>
       
</mapper>