<div>
    <div ar-validation-errors></div>
    
    <!-- FORM -->
    <form name="form">
		<h4>Основная информация</h4>
		<div class="row form-group">
			<div ar-form-field col-class="'col-sm-3'" field="fields[0]"></div>
			<div ar-form-field col-class="'col-sm-6'" field="fields[1]"></div>
			<div ar-form-field col-class="'col-sm-3'" field="fields[2]"></div>
		</div>
		<div class="row form-group">
			<div ar-form-field col-class="'col-sm-12'" field="fields[3]"></div>
		</div>
		<div class="row form-group">
			<div ar-form-field col-class="'col-sm-12'" field="fields[4]"></div>
		</div>
		<div class="row form-group">
			<div ar-form-field col-class="'col-sm-12'" field="fields[5]"></div>
		</div>
		<div class="row form-group">
			<div ar-form-field col-class="'col-sm-4'" field="fields[6]"></div>
			<div ar-form-field col-class="'col-sm-4'" field="fields[7]"></div>
		</div>
		<div class="row form-group">
			<div ar-form-field col-class="'col-sm-12'" field="fields[8]"></div>
		</div>
    </form>
    <!-- END FORM -->
</div>

<div ng-if="item.isDelete == 0 && isNotReadOnlyUser" class="pull-right">
	<button type="button" class="btn btn-primary" ng-click="saveVersion()" ng-disabled="form.$invalid || !isChange">Сохранить версию</button>
	<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || !isChange">Сохранить</button>
	<button type="button" class="btn btn-default" ng-click="reset()">Отменить изменения</button>
</div>
