<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.viss.VisTransportTypeMapper">
	<select id="getSelectItems" resultType="ru.armd.pbk.core.views.SelectItem">
		SELECT
			ID as id,
			NAME as name
		FROM
			PBK_VIS.VIS_TRANSPORT_TYPES
	</select>
	
	<select id="getById" resultType="ru.armd.pbk.domain.viss.VisTransportType">
		SELECT 
			<include refid="ru.armd.pbk.mappers.CommonSql.tplSelectDictionaryValuesWithId" />
		FROM
       		PBK_VIS.VIS_TRANSPORT_TYPES
		WHERE
       		ID = #{id}
    </select>
</mapper>