<div>
    <div ar-validation-errors></div>
    
    <!-- FORM -->
    <form name="tsTypeInfoForm">
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-12'" field="fields[0]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-3'" field="fields[1]"></div>
            <div ar-form-field col-class="'col-sm-9'" field="fields[2]"></div>
        </div>     
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-12'" field="fields[3]"></div>
        </div>  
    </form>
    <!-- END FORM -->
    
</div>

<div class="pull-right" ng-if="isNotReadOnlyUser">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="tsTypeInfoForm.$invalid || !isChange">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="reset()">Отменить изменения</button>
</div>