<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.viss.gtfs.GtfsImpactMapper">

	<insert id="insertChunck" parameterType="java.util.List">
		INSERT
		INTO [PBK_VIS].[ASDU_GTFS_IMPACT]
		(
		[WORK_DATE]
		,[DEPOT_ID]
		,[IMPACT_ID]
		,[IMPACT_TIME]
		,[VEHICLE_ID]
		,[TRIP_ID]
		,[GRAFIC]
		,[ROUTE_NUM]
		,[SHIFT_NUM]
		) VALUES
		<foreach collection="list" item="element" index="index"
			separator=",">
			(#{element.workDate}
			,#{element.depotId}
			,#{element.impactId}
			,#{element.impactTime}
			,#{element.vehicleId}
			,#{element.tripId}
			,#{element.grafic}
			,#{element.routeNum}
			,#{element.shiftNum} )
		</foreach>
	</insert>

</mapper>