<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.viss.gtfs.GtfsCalendarMapper">

	<insert id="insertChunckOnDate">
		INSERT INTO <include refid="ru.armd.pbk.mappers.CommonSql.pbkCalc"/>.[ASDU_GTFS_CALENDAR]
		(
		ROUTE_ID            
        , SERVICE_ID           
        , MONDAY             
        , TUESDAY              
        , WEDNESDAY           
        , THURSDAY            
        , FRIDAY              
        , SATURDAY            
        , SUNDAY              
        , START_DATE           
        , END_DATE           
		) VALUES
		<foreach collection="domains" item="element" index="index"
			separator=",">
			(
			#{element.routeId}
			,#{element.serviceId}
			,#{element.monday}
			,#{element.tuesday}
			,#{element.wednesday}
			,#{element.thursday}
			,#{element.friday}
			,#{element.saturday}
			,#{element.sunday}
			,#{element.startDate, jdbcType=DATE}
			,#{element.endDate, jdbcType=DATE})
		</foreach>
	</insert>

</mapper>