<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.viss.gtfs.GtfsVehicleMapper">

	<insert id="insertChunckOnDate">
		INSERT INTO <include refid="ru.armd.pbk.mappers.CommonSql.pbkCalc"/>.[ASDU_GTFS_VEHICLE]
		(
		VEHICLE_ID          
        , DEPOT_ID            
        , DEPOT_NUMBER      
        , ROUTE_TYPE  
        , IS_DELETED   
		) VALUES
		<foreach collection="domains" item="element" index="index"
			separator=",">
			(#{element.vehicleId}
			,#{element.depotId}
			,#{element.depotNumber}
			,#{element.routeType}
			,#{element.isDeleted})
		</foreach>
	</insert>

</mapper>