<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.viss.gtfs.GtfsChangeEquipmentMapper">

	<insert id="insertChunck" parameterType="java.util.List">
		INSERT
		INTO [PBK_VIS].[ASDU_GTFS_CHANGE_EQUIPMENT]
		(
		[WORK_DATE]
		, [EQUIPMENT_ID]
		, [IDENTIFICATOR]
		, [VEHICLE_ID]
		, [TIME_CHANGE]
		) VALUES
		<foreach collection="list" item="element" index="index"
			separator=",">
			(#{element.workDate}
			,#{element.equipmentId}
			,#{element.identificator}
			,#{element.vehicleId}
			,#{element.timeChange} )
		</foreach>
	</insert>

</mapper>