<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.TaskReportFieldMapper">

	<select id="getGridViews" resultType="ru.armd.pbk.views.nsi.TaskReportFieldView" parameterType="ru.armd.pbk.core.views.BaseGridViewParams" >
        <include refid="ru.armd.pbk.mappers.CommonSql.pageSupportBegin" />
        <![CDATA[
          select id as id, name as name, description as description
          from [PBK_NSI].[TASK_REPORT_FIELDS] sex
          where (#{filter.name} is null or UPPER(sex.NAME) like UPPER('%${filter.name}%'))
        ]]>
        <include refid="ru.armd.pbk.mappers.CommonSql.pageSupportEnd" />
    </select>
   

	<select id="getById" resultType="ru.armd.pbk.domain.nsi.TaskReportField">
        <![CDATA[
            SELECT
            	sex.ID as id
				, NAME as name
				, DESCRIPTION as description
			FROM
            	[PBK_NSI].[TASK_REPORT_FIELDS] sex
            WHERE
            	sex.ID = #{id}
        ]]>
    </select>
   	
</mapper>