<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.TsCapacityMapper">

	 <select id="getGridViews" resultType="ru.armd.pbk.views.nsi.TsCapacityView" parameterType="ru.armd.pbk.core.views.BaseGridViewParams" >
        <include refid="ru.armd.pbk.mappers.CommonSql.pageSupportBegin" />
        <![CDATA[
          select 
          	c.id as id, 
          	c.cod as cod,
          	c.name as name, 
          	c.description as description, 
          	c.is_delete as isDelete,       
          	ts.name as tsName  
          from PBK_NSI.TS_CAPACITIES c
          join PBK_NSI.TS_TYPES ts on c.TS_TYPE_ID=ts.ID
          WHERE (#{filter.name} is null or UPPER(c.NAME) like UPPER('%${filter.name}%')) 
          and (#{filter.cod} is null or UPPER(c.COD) like UPPER('%${filter.cod}%')) and (ts.IS_DELETE = 0) 
        ]]>
        <include refid="ru.armd.pbk.mappers.CommonSql.pageSupportEnd" />
    </select>
    
    <insert id="insert" parameterType="ru.armd.pbk.domain.nsi.TsCapacity" keyProperty="id" keyColumn="id">
        <![CDATA[
        insert into PBK_NSI.TS_CAPACITIES(
        	[COD]
        	, [NAME]
        	, [DESCRIPTION]
	        , [CREATE_DATE]
	        , [CREATE_USER_ID]
	        , [UPDATE_DATE]
	        , [UPDATE_USER_ID]
	        , [IS_DELETE]
	        , [TS_TYPE_ID]
	        , [GM_VEHICLE_TYPE_ID]
        ) VALUES(
        	#{cod}
        	, #{name}
        	, #{description}
        	, #{createDate}
        	, #{createUserId}
        	, #{updateDate}
        	, #{updateUserId}
        	, #{isDelete}
        	, #{tsTypeId}
        	, #{gmCapacityId})
        ]]>
        <selectKey order="AFTER" resultType="long" keyProperty="id">
            <![CDATA[
              SELECT IDENT_CURRENT( 'PBK_NSI.TS_CAPACITIES' ) as id
            ]]>
        </selectKey>
    </insert>
    
    <update id="deleteSoft">
    	<![CDATA[
		    UPDATE
		    	PBK_NSI.TS_CAPACITIES
		    SET
		    	IS_DELETE = 1
		    WHERE
		    	ID IN ]]><include refid="ru.armd.pbk.mappers.CommonSql.inList" />
    </update>
    
    <delete id="delete">
        <![CDATA[
            DELETE FROM
            	PBK_NSI.TS_CAPACITIES
            where ID in ]]><include refid="ru.armd.pbk.mappers.CommonSql.inList" />
    </delete>
    
    <select id="getById" resultType="ru.armd.pbk.domain.nsi.TsCapacity">
    		select 
    			ID as id,
    			CREATE_DATE as createDate,
		    	CREATE_USER_ID as createUserId,
				UPDATE_DATE as updateDate,
		    	UPDATE_USER_ID as updateUserId,
		    	IS_DELETE as isDelete,
		    	DESCRIPTION as description,
		    	NAME as name,
		    	COD as cod,
		    	TS_TYPE_ID as tsTypeId,
		    	GM_VEHICLE_TYPE_ID as gmCapacityId           
            from PBK_NSI.TS_CAPACITIES 
            where ID = #{id}
    </select>
    
    <select id="getDomain" resultType="ru.armd.pbk.domain.nsi.TsCapacity">
    		select 
    			ID as id,
    			CREATE_DATE as createDate,
		    	CREATE_USER_ID as createUserId,
				UPDATE_DATE as updateDate,
		    	UPDATE_USER_ID as updateUserId,
		    	IS_DELETE as isDelete,
		    	DESCRIPTION as description,
		    	NAME as name,
		    	COD as cod,
		    	TS_TYPE_ID as tsTypeId,
		    	GM_VEHICLE_TYPE_ID as gmCapacityId             
            from PBK_NSI.TS_CAPACITIES 
            where (#{name} is not null and UPPER(NAME) = UPPER(#{name})
            and #{tsTypeId} is not null and TS_TYPE_ID = #{tsTypeId}
            and GM_VEHICLE_TYPE_ID is not null)
            or #{gmId} is not null and GM_VEHICLE_TYPE_ID = #{gmId}
    </select>

	<select id="getByCode" resultType="ru.armd.pbk.domain.nsi.TsCapacity">
		select
			ID as id,
			CREATE_DATE as createDate,
			CREATE_USER_ID as createUserId,
			UPDATE_DATE as updateDate,
			UPDATE_USER_ID as updateUserId,
			IS_DELETE as isDelete,
			DESCRIPTION as description,
			NAME as name,
			COD as cod,
			TS_TYPE_ID as tsTypeId,
			GM_VEHICLE_TYPE_ID as gmCapacityId  
		from PBK_NSI.TS_CAPACITIES
		where COD = #{code}
	</select>
    
    <update id="update" parameterType="ru.armd.pbk.domain.nsi.TsCapacity">
    		UPDATE
		    	PBK_NSI.TS_CAPACITIES
		    SET
		    	DESCRIPTION = #{description},
		    	NAME = #{name},
		    	COD = #{cod},
		    	TS_TYPE_ID=#{tsTypeId},
		    	GM_VEHICLE_TYPE_ID=#{gmCapacityId}  	
		    WHERE
		    	ID = #{id}
    </update>
    
    <select id="getSelectItems" resultType="ru.armd.pbk.core.views.SelectItem">
        SELECT
        	ID as id, NAME as name
        FROM
        	PBK_NSI.TS_CAPACITIES
        WHERE
        	IS_DELETE = 0 OR (#{currentId} IS NOT NULL AND ID = #{currentId})
    </select>
</mapper>