<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.WorkModeMapper">

	<select id="getByCode" resultType="ru.armd.pbk.domain.nsi.WorkMode">
		<![CDATA[
            SELECT
            	sex.ID as id
				, COD as cod
				, NAME as name
				, DESCRIPTION as description
			FROM
            	[PBK_NSI].[WORK_MODES] sex
            WHERE
            	sex.COD = #{code}
        ]]>
	</select>
	
</mapper>