<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.EmployeeReportMapper">

	 <select id="getReportViews" resultType="ru.armd.pbk.views.nsi.EmployeeReportView">
        <![CDATA[
          SELECT
               ROW_NUMBER() OVER (]]><include refid="ru.armd.pbk.mappers.CommonSql.orderBySql" /><![CDATA[) AS id,
               t.*
            FROM (
				SELECT
					d.[ID] as id,
					dh.NAME as name,
					dh.PATRONUMIC as patronumic,
					dh.SURNAME as surname,
				    dh.[EASU_FHD_ID] as easuFhdId,
				    dh.POSITION_NAME as emplPost,
				    dh.PERSONNEL_NUMBER as personalNumber,
				    dh.LICENSE_DETAILS as licenceDetails,
				    dh.PHONE as phone,
				    dep_h.name as departmentId,
				    contrCard_h.CARD_NUMBER as contCardId,
				    pusk_h.PUSK_NUMBER as puskId,
				    offCard_h.CARD_NUMBER as offCardId,
					cast(edm.PERIOD_START_DATE as date) as periodStartDate,
				    dh.FIRE_DATE as fireDate,
				    u.LOGIN as login
				  FROM
				    PBK_NSI.EMPLOYEES d LEFT JOIN PBK_NSI.EMPLOYEE_HISTS dh ON (d.ID = dh.HEAD_ID) LEFT JOIN PBK_NSI.DEPARTMENTS dep ON (dh.DEPT_ID = dep.ID)
				    LEFT JOIN PBK_NSI.DEPARTMENT_HISTS dep_h ON (dep.ID = dep_h.HEAD_ID and dep_h.V_END_DATE >= PBK_CORE.getVersionEndDate())
				    LEFT JOIN PBK_CORE.USERS u ON (dh.USER_ID = u.ID)
					LEFT JOIN PBK_NSI.PUSKS pusk ON (dh.PUSK_ID = pusk.ID)
				    LEFT JOIN PBK_NSI.PUSK_HISTS pusk_h on (pusk.ID = pusk_h.HEAD_ID and pusk_h.V_END_DATE >= PBK_CORE.getVersionEndDate())
					LEFT JOIN PBK_NSI.OFFICIAL_CARDS offCard ON (dh.OFFICIAL_CARD_ID = offCard.ID)
				    LEFT JOIN PBK_NSI.OFFICIAL_CARD_HISTS offCard_h on (offCard.ID = offCard_h.HEAD_ID and offCard_h.V_END_DATE >= PBK_CORE.getVersionEndDate())
					LEFT JOIN PBK_NSI.CONTACTLESS_CARDS contrCard on (dh.CONTACTLESS_CARD_ID = contrCard.ID)
				    LEFT JOIN PBK_NSI.CONTACTLESS_CARD_HISTS contrCard_h on (contrCard.ID = contrCard_h.HEAD_ID and contrCard_h.V_END_DATE >= PBK_CORE.getVersionEndDate())
										left JOIN PBK_NSI.EMP_DEPT_MOVES edm on (d.ID = edm.EMPLOYEE_ID)
			WHERE
  			   edm.PERIOD_END_DATE = (  SELECT max(PERIOD_END_DATE)
											FROM PBK_NSI.EMP_DEPT_MOVES  
											WHERE EMPLOYEE_ID = d.ID and dept_id = dh.dept_id)
and
				   	dh.[V_END_DATE] >= [PBK_CORE].getVersionEndDate() AND
		          	(#{filter.name} is null or UPPER(dh.NAME) like UPPER('%${filter.name}%')  or UPPER(dh.SURNAME) like UPPER('%${filter.name}%')  or UPPER(dh.PATRONUMIC) like UPPER('%${filter.name}%')) AND
		          	(#{filter.departmentId} is null or dep_h.HEAD_ID = #{filter.departmentId}) AND
		          	(#{filter.forPlanUse} is null or dh.FOR_PLAN_USE = #{filter.forPlanUse}) AND
		          	(#{filter.loginFilter} is null or UPPER(u.LOGIN) like UPPER('%${filter.loginFilter}%')) AND
		          	(#{filter.commonNumber} is null or UPPER(pusk_h.PUSK_NUMBER) like UPPER('%${filter.commonNumber}%') or UPPER(offCard_h.CARD_NUMBER) like UPPER('%${filter.commonNumber}%')
		          		or UPPER(contrCard_h.CARD_NUMBER) like UPPER('%${filter.commonNumber}%')
		          		or UPPER(dh.PERSONNEL_NUMBER) like UPPER('%${filter.commonNumber}%'))
					and ((SELECT VALUE FROM PBK_CORE.SETTINGS WHERE ID = 2006) = 'Да' OR d.IS_DELETE = 0)
					and (#{filter.deptAuthId} IS NULL OR dh.DEPT_ID = #{filter.deptAuthId})
					and (#{filter.isFireEmp} IS NULL OR (#{filter.isFireEmp} = 1 AND dh.FIRE_DATE IS NOT NULL) OR (#{filter.isFireEmp} = 0 AND dh.FIRE_DATE IS NULL))
		            ]]><if test="filter.ids != null">
					AND d.ID IN (${filter.ids})
					</if>
        	) t
        	<include refid="ru.armd.pbk.mappers.CommonSql.orderBySql_t" />
    </select>
    
</mapper>