<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.ParkReportMapper">

	 <select id="getReportViews" resultType="ru.armd.pbk.views.nsi.ParkReportView">
        <![CDATA[
			SELECT
               ROW_NUMBER() OVER (]]><include refid="ru.armd.pbk.mappers.CommonSql.orderBySql" /><![CDATA[) AS id,
               t.*
            FROM (
				SELECT
					d.[ID] as id
	               , dh.[SHORT_NAME] as shortName
	               , dh.[NAME] as name
	               , dh.[PARK_NUMBER] as parkNumber
	               , ts.[NAME] as tsKind
	               , dh.[GM_PARK_ID] as gmParkId
	               , dh.[ASDU_DEPOT_ID] as asduDepotId               
				FROM [PBK_NSI].[PARKS] d JOIN [PBK_NSI].[PARK_HISTS] dh on (d.ID = dh.HEAD_ID)
				LEFT JOIN [PBK_NSI].[TS_TYPES] ts ON (dh.TS_KIND_ID=ts.ID)
				WHERE 
					dh.[V_END_DATE] >= [PBK_CORE].getVersionEndDate()
				  	and (#{filter.name} is null or UPPER(dh.name) like UPPER('%${filter.name}%'))
				  	and (d.IS_DELETE = 0)
				  	]]><if test="filter.ids != null">
						AND d.ID IN (${filter.ids})
					</if>
        	) t
        	<include refid="ru.armd.pbk.mappers.CommonSql.orderBySql_t" />
    </select>
    
</mapper>