<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.nsi.RouteTsKindReportMapper">

	 <select id="getReportViews" resultType="ru.armd.pbk.views.nsi.RouteTsKindReportView">
        <![CDATA[
			SELECT
               ROW_NUMBER() OVER (]]><include refid="ru.armd.pbk.mappers.CommonSql.orderBySql" /><![CDATA[) AS id,
               t.*
            FROM (
				SELECT
					d.[ID] as id
	               , d.[COD] as cod
	               , d.[NAME] as name
	               , d.[DESCRIPTION] as description
	               , dgm.[NAME] as routeTsKind          
				FROM [PBK_NSI].[ROUTE_TS_KINDS] d JOIN [PBK_GISMGT].[GM_ROUTE_TS_KINDS] dgm on (d.GM_ROUTE_TS_KIND_ID = dgm.ID)		
				WHERE (#{filter.name} is null or UPPER(d.[NAME]) like UPPER('%${filter.name}%')) 
	          	and (#{filter.cod} is null or UPPER(d.[COD]) like UPPER('%${filter.cod}%'))
	          	]]><if test="filter.ids != null">
					AND d.ID IN (${filter.ids})
				</if>
        	) t
        	<include refid="ru.armd.pbk.mappers.CommonSql.orderBySql_t" />
    </select>
    
</mapper>