<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="appender-all" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/pbk-logs/pbk-log.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] - [%-5.5p] - [%d{yyyy-MM-dd}] [%d{HH:mm:ss,SSS}] - [%c:%L] %m%n"/>
        </layout>
    </appender>

    <appender name="appender-error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/pbk-logs/error/pbk-error-log.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ERROR"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] [%p] [%d{yyyy-MM-dd HH:mm:ss,SSS}]   %m%n"/>
        </layout>
    </appender>

    <appender name="appender-info" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/pbk-logs/info/pbk-info-log.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] [%p] [%d{yyyy-MM-dd HH:mm:ss,SSS}]   %m%n"/>
        </layout>
    </appender>

    <appender name="appender-warning" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/pbk-logs/warning/pbk-warning-log.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="WARN"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] [%p] [%d{yyyy-MM-dd HH:mm:ss,SSS}]   %m%n"/>
        </layout>
    </appender>

    <appender name="appender-debug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/pbk-logs/debug/pbk-debug-log.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] [%p] [%d{yyyy-MM-dd HH:mm:ss,SSS}]   %m%n"/>
        </layout>
    </appender>

    <appender name="appender-trace" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/pbk-logs/trace/pbk-trace-log.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="TRACE"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] - [%-5.5p] - [%d{yyyy-MM-dd}] [%d{HH:mm:ss,SSS}] - [%c:%L] %m%n"/>
        </layout>
    </appender>



<!-- ============= Cache ============= -->
<!--
        <logger name="org.springframework.cache">
            <level value="TRACE"/>
            <appender-ref ref="appender-all"/>
            <appender-ref ref="appender-error"/>
            <appender-ref ref="appender-info"/>
            <appender-ref ref="appender-warning"/>
            <appender-ref ref="appender-debug"/>
            <appender-ref ref="appender-trace"/>
        </logger>
-->
<!-- ============= END Cache ============= -->

<!-- ============= ORM MyBatis ============= -->
    <!--
        <logger name="org.springframework.orm">
            <level value="TRACE"/>
            <appender-ref ref="appender-all"/>
            <appender-ref ref="appender-error"/>
            <appender-ref ref="appender-info"/>
            <appender-ref ref="appender-warning"/>
            <appender-ref ref="appender-debug"/>
            <appender-ref ref="appender-trace"/>
        </logger>
        <logger name="org.mybatis">
            <level value="TRACE"/>
            <appender-ref ref="appender-all"/>
            <appender-ref ref="appender-error"/>
            <appender-ref ref="appender-info"/>
            <appender-ref ref="appender-warning"/>
            <appender-ref ref="appender-debug"/>
            <appender-ref ref="appender-trace"/>
        </logger>
        <logger name="org.apache.ibatis">
            <level value="TRACE"/>
            <appender-ref ref="appender-all"/>
            <appender-ref ref="appender-error"/>
            <appender-ref ref="appender-info"/>
            <appender-ref ref="appender-warning"/>
            <appender-ref ref="appender-debug"/>
            <appender-ref ref="appender-trace"/>
        </logger>
-->
    <!-- ============= END ORM MyBatis ============= -->

<!-- ============= JDBC ============= -->
<!--
    <logger name="org.springframework.jdbc">
        <level value="TRACE"/>
        <appender-ref ref="appender-all"/>
        <appender-ref ref="appender-error"/>
        <appender-ref ref="appender-info"/>
        <appender-ref ref="appender-warning"/>
        <appender-ref ref="appender-debug"/>
        <appender-ref ref="appender-trace"/>
    </logger>

    <logger name="java.sql.Connection">
        <level value="TRACE"/>
        <appender-ref ref="appender-all"/>
        <appender-ref ref="appender-error"/>
        <appender-ref ref="appender-info"/>
        <appender-ref ref="appender-warning"/>
        <appender-ref ref="appender-debug"/>
        <appender-ref ref="appender-trace"/>
    </logger>

    <logger name="java.sql.Statement">
        <level value="TRACE"/>
        <appender-ref ref="appender-all"/>
        <appender-ref ref="appender-error"/>
        <appender-ref ref="appender-info"/>
        <appender-ref ref="appender-warning"/>
        <appender-ref ref="appender-debug"/>
        <appender-ref ref="appender-trace"/>
    </logger>

    <logger name="java.sql.PreparedStatement">
        <level value="TRACE"/>
        <appender-ref ref="appender-all"/>
        <appender-ref ref="appender-error"/>
        <appender-ref ref="appender-info"/>
        <appender-ref ref="appender-warning"/>
        <appender-ref ref="appender-debug"/>
        <appender-ref ref="appender-trace"/>
    </logger>
-->
<!-- ============= END JDBC ============= -->


    <root>
        <priority value="TRACE"/>
        <appender-ref ref="appender-all"/>
        <appender-ref ref="appender-error"/>
        <appender-ref ref="appender-info"/>
        <appender-ref ref="appender-warning"/>
        <appender-ref ref="appender-debug"/>
        <appender-ref ref="appender-trace"/>
    </root>

</log4j:configuration>