<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.viss.gismgt.GmRouteVariantTypeMapper">
	
    <insert id="insert" parameterType="ru.armd.pbk.domain.viss.gismgt.GmRouteVariantType" keyProperty="id" keyColumn="id">
        <![CDATA[
            insert into [PBK_GISMGT].[GM_RV_TYPES] (
				]]><include refid="ru.armd.pbk.mappers.CommonSql.insertGmFields" /><![CDATA[	
    			, [NAME]
            ) values (
            	]]><include refid="ru.armd.pbk.mappers.CommonSql.insertGmValues" /><![CDATA[
    			, #{name}
            )
        ]]>      
    </insert>
    
    <select id="getByMuid" resultType="ru.armd.pbk.domain.viss.gismgt.GmRouteVariantType">
        <![CDATA[
			select 
				]]><include refid="ru.armd.pbk.mappers.CommonSql.gmFields" /><![CDATA[
	    		, NAME as name
			from [PBK_GISMGT].[GM_RV_TYPES] a
            where MUID = #{muid} and VERSION = (SELECT max(VERSION) FROM [PBK_GISMGT].GM_RV_TYPES WHERE MUID = #{muid})			
        ]]>
    </select>
    
    <select id="getById" resultType="ru.armd.pbk.domain.viss.gismgt.GmRouteVariantType">
        <![CDATA[
			select 
				]]><include refid="ru.armd.pbk.mappers.CommonSql.gmFields" /><![CDATA[
	    		, NAME as name
			from [PBK_GISMGT].[GM_RV_TYPES] a
            where ID = #{id}			
        ]]>
    </select>
    
    <update id="update" parameterType="ru.armd.pbk.domain.viss.gismgt.GmRouteVariantType">
        <![CDATA[
        	update [PBK_GISMGT].[GM_RV_TYPES]
            set
            	]]><include refid="ru.armd.pbk.mappers.CommonSql.updateGmFields" /><![CDATA[
	    		, NAME = #{name}
			where MUID = #{muid} and VERSION = (SELECT max(VERSION) FROM [PBK_GISMGT].GM_RV_TYPES WHERE MUID = #{muid})
        ]]>
    </update>    
</mapper>