<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <typeAlias alias="sqladapter" type="ru.armd.pbk.sql.SQLAdapter" />
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="java.util.Date" handler="org.apache.ibatis.type.DateTypeHandler" jdbcType="DATE"/>
    </typeHandlers>
</configuration>
