<div ar-grid-filter parameters="gridScope.filterParams"></div>
<div ar-grid-title parameters="gridScope.titleParams"></div>
<div ar-grid-table grid-scope="gridScope"></div>
<div class="row" style="padding-top: 20px;">
    <div class="col-sm-2"><i ng-style="{color: '#e0e2e5'}" class="glyphicon glyphicon-stop btn-md"></i> - Трассировка</div>
    <div class="col-sm-2"><i ng-style="{color: '#afede5'}" class="glyphicon glyphicon-stop btn-md"></i> - Отладка</div>
    <div class="col-sm-2"><i ng-style="{color: '#d3ef71'}" class="glyphicon glyphicon-stop btn-md"></i> - Информация</div>
    <div class="col-sm-2"><i ng-style="{color: '#e7bd52'}" class="glyphicon glyphicon-stop btn-md"></i> - Предупреждение</div>
    <div class="col-sm-2"><i ng-style="{color: '#e97c8e'}" class="glyphicon glyphicon-stop btn-md"></i> - Ошибка</div>
</div>