<div>
    <!-- FORM -->
    <form name="roleInfoForm">
        <h4>Основная информация</h4>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-4'" field="fields[0]"></div>
            <div ar-form-field col-class="'col-sm-4'" field="fields[1]"></div>
            <div ar-form-field col-class="'col-sm-4'" field="fields[2]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-12'" field="fields[3]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-6'" field="fields[4]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-12'" field="fields[5]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-12'" field="fields[6]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-sm-2'" field="fields[7]"></div>
            <div ar-form-field col-class="'col-sm-4'" field="fields[8]"></div>
            <div ar-form-field col-class="'col-sm-6'" field="fields[9]"></div>
        </div>
    </form>
    <!-- END FORM -->

</div>