<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.tasks.TaskMgtEmployeeMapper">
	
	<insert id="insert" parameterType="ru.armd.pbk.domain.tasks.TaskMgtEmployee" keyProperty="id" keyColumn="id">
		<![CDATA[
        INSERT INTO
        	PBK_TASK.TASK_MGT_EMPLOYEES(
                ]]><include refid="ru.armd.pbk.mappers.CommonSql.tplInsertAuditFields" /><![CDATA[
	        	,TASK_ID
      			,EMPLOYEE_ID
        ) VALUES (
               ]]><include refid="ru.armd.pbk.mappers.CommonSql.tplInsertAuditValues" />
		        	,#{taskId}
		        	,#{employeeId}
	        	)
	    <selectKey order="AFTER" resultType="long" keyProperty="id">
			<![CDATA[
              SELECT IDENT_CURRENT( 'PBK_TASK.TASK_MGT_EMPLOYEES' ) as id
            ]]>
		</selectKey>
	</insert>
	
	<delete id="deleteTaskEmployees">
        <![CDATA[
            DELETE FROM
            	PBK_TASK.TASK_MGT_EMPLOYEES
            WHERE
            	TASK_ID IN (
					SELECT
    					t2.ID
    				FROM
    					PBK_TASK.TASKS t
						JOIN PBK_PLAN.PLAN_SCHEDULES ps on ps.ID = t.PLAN_SCHEDULE_ID
						JOIN PBK_PLAN.PLAN_SCHEDULES ps2 on ps2.WORK_DATE = ps.WORK_DATE
    					JOIN PBK_TASK.TASKS t2 on ps2.ID = t2.PLAN_SCHEDULE_ID
            	 	WHERE t.ID = #{taskId}
            	)
            	AND TASK_ID IN (
            		SELECT TASK_ID FROM PBK_TASK.TASK_MGT_EMPLOYEES WHERE EMPLOYEE_ID IN ]]>
		            	<foreach collection="employeeIds" open="(" close=")" separator="," item="employeeId">
		            		#{employeeId}
		            	</foreach>
		        )
    </delete>
    
    <select id="getMgtEmployeeIdsByTaskId" resultType="long">
		<![CDATA[
    	SELECT
    		tme2.EMPLOYEE_ID
    	FROM
    		PBK_TASK.TASKS t
			JOIN PBK_PLAN.PLAN_SCHEDULES ps on ps.ID = t.PLAN_SCHEDULE_ID
    		JOIN PBK_TASK.TASK_MGT_EMPLOYEES tme on tme.EMPLOYEE_ID = ps.EMPLOYEE_ID
    		JOIN PBK_TASK.TASK_MGT_EMPLOYEES tme2 on tme.TASK_ID = tme2.TASK_ID
			JOIN PBK_TASK.TASKS t2 on tme2.TASK_ID = t2.ID
			JOIN PBK_PLAN.PLAN_SCHEDULES ps2 on ps2.ID = t2.PLAN_SCHEDULE_ID
    	WHERE
    		t.ID = #{taskId}
    		AND ps.WORK_DATE = ps2.WORK_DATE
    		AND (#{skipEmpId} IS NULL OR tme2.EMPLOYEE_ID <> #{skipEmpId})
        ]]>
    </select>
    
</mapper>