<div class="modal-header" draggable-modal>
    <button type="button" class="close" data-dimdiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
</div>

<div class="modal-body">
    <div ar-validation-errors></div>

    <!-- FORM -->
    <form name="bsoBindForm">
        <div class="row form-group">
            <div ar-form-field col-class="'col-md-12'" field="fields[0]"></div>
        </div>
        <div class="row form-group">
            <div ar-form-field col-class="'col-md-12'" field="fields[1]"></div>
        </div>
    </form>
    <!-- END FORM -->

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="bind()">Привязать</button>
    <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
</div>
