<div ar-grid-filter parameters="gridScope.filterParams"></div>
<div ar-grid-title parameters="gridScope.titleParams"></div>

<div class="row">
    <div class="col-sm-4">
		<div class="row">
		    <div class="col-sm-12"><span style="color:#1FAB56; font-weight:bold">СОГЛАСОВАНО</span></div>
		</div>
		<div class="row">
		    <div class="col-sm-12"><i ng-style="{color: brigadeColors.AGREE}" class="glyphicon glyphicon-stop btn-md"></i> - согласованная бригада</div>
		</div>
		<div class="row">
		    <div class="col-sm-12"><i ng-style="{color: brigadeColors.HAVE_FREE_CONTROLERS}" class="glyphicon glyphicon-stop btn-md"></i> - есть свободные контролеры (согласованная бригада)</div>
		</div>
		<div class="row">
		    <div class="col-sm-12"><i ng-style="{color: brigadeColors.NOT_FULL}" class="glyphicon glyphicon-stop btn-md"></i> - неполная бригада</div>
		</div>
	</div>    
    <div class="col-sm-4">
		<div class="row">
		    <div class="col-sm-12"><span style="color:#EC4580; font-weight:bold">НЕ СОГЛАСОВАНО</span></div>
		</div>
		<div class="row">
		    <div class="col-sm-12"><i ng-style="{color: brigadeColors.NOT_FULL_NOT_AGREE}" class="glyphicon glyphicon-stop btn-md"></i> - неполная бригада (несогласованная бригада)</div>
		</div>
		<div class="row">
		    <div class="col-sm-12"><i ng-style="{color: brigadeColors.HAVE_FREE_CONTROLERS_NOT_AGREE}" class="glyphicon glyphicon-stop btn-md"></i> - есть свободные контролеры (несогласованная бригада)</div>
		</div>
	</div>
</div>

<div id="brigades-table" class="col-sm-12 row" style="font-family: 'Times New Roman', sans-serif;">
<table st-table="gridScope.grid.rows" st-pipe="gridScope.grid.loadAction" st-safe-src="gridScope.grid.rows"
       class='table table-hover {{getRowClass == null ? "table-striped" : ""}}'>
    <!--<colgroup>-->
        <!--<col ng-style="{'width': '19%'}">-->
        <!--<col ng-style="{'width': '9%'}">-->
        <!--<col ng-style="{'width': '2%'}">-->
        <!--<col ng-repeat="day in days">-->
    <!--</colgroup>-->
    <thead ng-show="!gridScope.grid.isLoading" style="display: block">
        <tr>
            <th class="grid-header plan-table-border" style="text-align: center; vertical-align: middle; min-width: 150px; max-width: 150px;" ar-st-sort="venueName" rowspan="3">
                <small>Место встречи</small>
            </th>
            <th class="grid-header plan-table-border" style="text-align: center; vertical-align: middle; min-width: 150px; max-width: 150px;" ar-st-sort="shiftWorkStart" rowspan="3">
                <small>Часы работы</small>
            </th>
            <th class="grid-header plan-table-border" style="text-align: center; vertical-align: middle; min-width: 50px; max-width: 50px;" rowspan="3">

            </th>
            <th ng-repeat="day in days" ng-style="{'min-width': dayWidth, 'max-width': dayWidth}" style="text-align: center; vertical-align: middle;" class="grid-header plan-table-border">
                <small>{{getDayOfMonth(day)}}</small>
            </th>
            <th class="grid-header plan-table-border" style="text-align: center; vertical-align: middle; min-width: 15px; max-width: 15px;" rowspan="3"></th>
        </tr>
        <tr>
            <th ng-repeat="day in days" ng-style="{'min-width': dayWidth, 'max-width': dayWidth}" style="text-align: center; vertical-align: middle;" class="grid-header plan-table-border">
                <small>{{getDayOfWeek(day)}}</small>
            </th>
        </tr>
        <tr>
            <th ng-repeat="day in days" ng-style="{'min-width': dayWidth, 'max-width': dayWidth}" style="text-align: center; vertical-align: middle; padding:0px !important; font-size:92%;" class="grid-header plan-table-border">
                <small><span title="{{getReserveOfDayTitle(day)}}">{{getReserveOfDay(day)}}</span></small>
            </th>
        </tr>
    </thead>
    <tbody ng-if="gridScope.grid.isLoading">
    <tr>
        <td colspan="{{days.length + 3}}" class="text-center plan-table-border"><img ng-src="{{'images/spinner.gif'}}"></td>
    </tr>
    </tbody>
    <tbody id="tableBody" ng-if="!gridScope.grid.isLoading && gridScope.grid.rows.length > 0 && gridScope.grid.rows[0].cnt > 0" 
    		style="display: block; height: auto; max-height: 400px; overflow-y: scroll; overflow-x: auto;">
    <tr ng-repeat="row in gridScope.grid.rows">
        <td class="plan-table-border" style="min-width: 150px; max-width: 150px;">
            <small><span>{{getVenueView(row)}}</span></small>
        </td>
        <td class="plan-table-border" style="text-align: center; vertical-align: middle; min-width: 150px; max-width: 150px;">
            <small><span>{{getShiftPeriod(row)}}</span></small>
        </td>
        <td class="plan-table-border" style="text-align: center; vertical-align: middle; min-width: 50px; max-width: 50px;">
            <small><div class="fraction-slash">МГТ</div></small>
            <small><div>ОП</div></small>
        </td>
        <td class="hover-table-color plan-table-border" style="text-align: center; vertical-align: middle;{{row.brigades[day].manual ? 'border:solid 2px blue !important' : ''}}" ng-style="{'background-color':'{{getColor(row.brigades[day])}}', 'min-width': dayWidth, 'max-width': dayWidth}" ng-repeat="day in days" ng-click="addEditShiftBrigade(row, day)">
            <div ng-if="row.brigades[day]">
            	<table style="width: 100%">
					<tr><td><small><span class="fraction-slash">{{row.brigades[day].mgtCount}}</span></small></td></tr>
					<tr><td><small><span>{{row.brigades[day].gkuopCount}}</span></small></td></tr>
				</table>
            </div>
        </td>
    </tr>
    </tbody>
    <tbody ng-if="!gridScope.grid.isLoading && (gridScope.grid.rows.length == 0 || gridScope.grid.rows[0].cnt == 0)">
    <tr style="background-color: transparent;">
        <td class="text-center plan-table-border" colspan="{{days.length + 3}}">
            <p class="lead">Элементы не найдены</p>
        </td>
    </tr>
    </tbody>
    <tfoot ng-show="!gridScope.grid.isLoading" style="display: block">
    <tr>
        <td class="text-center plan-table-border" ng-style="{'min-width' : footerWidth, 'max-width' : footerWidth}">
            <div ar-grid-pagination rows-on-page="gridScope.colRowsOnPage" grid-scope="gridScope"></div>
        </td>
    </tr>
    </tfoot>
</table></div>