<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.armd.pbk.mappers.tasks.TaskReportReportMapper">

  <select id="getByTaskId" resultType="ru.armd.pbk.views.tasks.TaskReportReportView">
    <![CDATA[
      SELECT
        tr.[ID] AS id
        , eh.[SURNAME] AS employeeSurname
        , eh.[NAME] AS employeeName
        , eh.[PATRONUMIC] AS employeePatronumic
        , eh.[PERSONNEL_NUMBER] AS personalNumber
      FROM
        [PBK_TASK].[TASK_REPORTS] tr
        JOIN [PBK_TASK].[TASKS] t ON tr.[TASK_ID] = t.[ID]
        JOIN [PBK_PLAN].[PLAN_SCHEDULES] sch ON t.[PLAN_SCHEDULE_ID] = sch.[ID]
        LEFT JOIN [PBK_NSI].[EMPLOYEE_HISTS] eh ON sch.[EMPLOYEE_ID] = eh.[HEAD_ID]
      WHERE 1=1
        AND (eh.[V_END_DATE] is null or eh.[V_END_DATE] >= [PBK_CORE].getVersionEndDate())
        AND tr.[TASK_ID] = #{taskId}
    ]]>
  </select>

</mapper>
